<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_RegistrationController</servlet-name>
        <servlet-class>Teacher.controller.T_RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherUpdate</servlet-name>
        <servlet-class>Teacher.controller.TeacherUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_RegistrationController</servlet-name>
        <servlet-class>Student.controller.S_RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>Student.controller.StudentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sub_RegistrationController</servlet-name>
        <servlet-class>Subject.controller.Sub_RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_controller</servlet-name>
        <servlet-class>controller.logout_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_RegistrationController</servlet-name>
        <servlet-class>Attendance.controller.A_RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_RegistrationController</servlet-name>
        <url-pattern>/Teacher.controller/T_RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_RegistrationController</servlet-name>
        <url-pattern>/T_RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherUpdate</servlet-name>
        <url-pattern>/TeacherUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RegistrationController</servlet-name>
        <url-pattern>/S_RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/StudentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sub_RegistrationController</servlet-name>
        <url-pattern>/Sub_RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_controller</servlet-name>
        <url-pattern>/logout_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_RegistrationController</servlet-name>
        <url-pattern>/A_RegistrationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
