html,body{
     overflow: auto;
       height: 100%;
}
body{
    background-color: black;
}
.container
{
    margin: 50px auto;
    height: 100% !important;
    max-height: 500px;
    width: 100%;
    padding: 0 !important;
    max-width: 300px;
    }
img{
    height: 500px;
    width: 100%;
    max-width: 350px;
}
#top{
    background-color: #00BCD4;
    height: 15%;
    border: 1px solid blue;
    text-align: center;
}
#below{
    background-color: #F1F1F1;
    height: 85%;
    padding: 0;
}
.subjects{
    text-decoration: none;
    font-size: 25px;
    display: block;
}