@media only screen and (max-width:500px)
{
    #container,#main,.container{
        margin:0 auto;
        height: 100% !important;
        max-height: none !important;
        width: 100%;
        max-width: none;
    }
   
    .topnav .search-container button{
        float: right;
        width: 10% !important;
        margin-top: 10px;
    }
  .topnav input[type=text] {
  padding: 6px;
  float: left;
  width: 85% !important;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
}

